.add-activity-container {
  align-items: center;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  width: 95%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}



.form-row {
  display: flex;
  align-items: flex-start; 
  gap: 25px;
  flex-wrap: wrap;
}

.add-button {
  margin-left: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-group label {
  font-size: 0.95rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.form-group input {
  padding: 11px 14px;
  border-radius: 8px;
  border: 1px solid #d2d2d2;
  font-size: 1rem;
  width: 230px;
}

.custom-dropdown {
  position: relative;
  width: 100%;
}

.dropdown-options {
  position: static;
  top: 105%;
  left: 0;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  z-index: 10;
  max-height: 180px;
  overflow-y: auto;
}

.dropdown-option {
  padding: 10px 12px;
  cursor: pointer;
}

.dropdown-option:hover {
  background: #f1f1f1;
}

.add-button {
  display: flex;
  align-items: flex-start; 
  padding-top: 29px;  
  
}

.add-btn {
  padding: 10px 22px;
  border-radius: 8px;
  background: #0a2a66;
  color: #ffffff;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
