.information{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.game-summary{
    font-size: 1.25rem;
    font-weight: 600;
}

.nav-link{
    font-size: 1.25rem;
    text-decoration: none; 
    font-weight: bold;
    color: #002878;
}

.nav-link:hover{
    font-weight: bolder;
    color:#d28e00;
}