.progress-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

.table-headers{
    font-weight: bold;
}

.table-data{
    border: 1px solid #dddddd;
}

tr:nth-child(even) {
  background-color: #e8d585;
}