.progress-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
}

.table-headers {
  font-weight: bold;
}

.table-data {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  border: 1px solid #dddddd;
}
.labels {
  text-transform: uppercase;
  font-size: 17px;
}

tr:nth-child(even) {
  background-color: #e8d585;
}

.actions-cell {
  text-align: right; /* Move content to right */
  padding-right: 16px; /* Add spacing from edge */
}
