.points-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.point-value {
    color: #002878;
    font-weight: bold;
    font-size: 2.25rem;
    margin: 0;
}

.total-points {
    color: #d28e00;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
}

.inner-container {
    margin-top: 5%;
    display: flex;
    align-items: center;
    width: 100%;
}

input {
    width: 50px;
    height: 20px;
}

.progress-wrapper {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  padding-top: 40px;
  padding-bottom: 70px;
}

.progress-bar {
  width: 100%;
  height: 24px;
  background: #d9e6d4;
  border-radius: 20px;
  border: 2px solid #5b8f4d;
  position: relative;
  overflow: visible;
}

.progress-fill {
  height: 100%;
  background: #6f985e;
  border-radius: 20px;
  transition: width 0.4s ease;
}

.milestone-dot {
  position: absolute;
  top: -1px;
  width: 20px;
  height: 20px;
  background: #0a2a66;
  border-radius: 50%;
  border: 3px solid white;
  transform: translateX(-100%);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.milestone-dot.achieved {
  background: #16a34a;
  border-color: #bbf7d0;
}

.checkmark {
  font-size: 12px;
  color: white;
}

.final-dot .flag {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-25%);
  font-size: 2rem;
}

.milestone-label-row {
  position: relative;
  width: 100%;
  margin-top: 18px;
}

.milestone-label-container {
  position: absolute;
  transform: translateX(-50%);
  text-align: center;
  width: max-content;
}

.milestone-label-text {
  font-size: 0.9rem;
  font-weight: 600;
  color: black;
}

.milestone-points {
  font-size: 0.8rem;
  color: #555;
}

.golf-cart {
  position: absolute;
  top: -10px;
  font-size: 2.2rem;
  z-index: 10;
  transform: translateX(-50%) scaleX(-1);
}

.points-input {
  margin-top: 30px;
  width: 200px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
}

