.points-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.point-value {
    color: #002878;
    font-weight: bold;
    font-size: 2.25rem;
    margin: 0;
}

.total-points {
    color: #d28e00;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
}

.inner-container {
    margin-top: 5%;
    display: flex;
    align-items: center;
    width: 100%;
}

input {
    width: 50px;
    height: 20px;
}

/* .progress-bar {
    width: 100%;
    height: 15px;
    background: #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.progress-bar-details {
    height: 100%;
    background: #d28e00;
    transition: width 0.3s;
} */

.progress-bar {
  position: relative;
  width: 85%;
  height: 12px;
  background: #ddd;
  border-radius: 10px;
  overflow: visible; 
}

.progress-bar-details {
  height: 100%;
  background: #d89b1e;
  border-radius: 10px;
  transition: width 0.3s;
}

.golf-cart {
  position: absolute;
  bottom: calc(100% + 5px);
  transform: translate(-50%, 0);
  font-size: 32px;
  transition: left 0.3s ease;
}