.App {
  text-align: center;
  background-color: #bdbfc1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
